
<h1 class="mt-4 white">Grades Viewer</h1>
<p class="lead mb-3 white">Welcome <%= user.name %></p>
<p class="lead mb-3 white">Your grades were last updated on <%= user.date %></p>
<br>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Item Name</th>
        <th scope="col">Date</th>
        <th scope="col">Grade(%)</th>
        <th scope="col">Weight(%)</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%= user.quiz1.name %></th>
        <td><%= user.quiz1.date %></td>
        <td><%= user.quiz1.grade %></td>
        <td><%= user.quiz1.weight %></td>

      </tr>
      <tr>
        <th scope="row"><%= user.quiz2.name %></th>
        <td><%= user.quiz2.date %></td>
        <td><%= user.quiz2.grade %></td>
        <td><%= user.quiz2.weight %></td>

      </tr>
      <tr>
        <th scope="row"><%= user.quiz3.name %></th>
        <td><%= user.quiz3.date %></td>
        <td><%= user.quiz3.grade %></td>
        <td><%= user.quiz3.weight %></td>

      </tr>
      <tr>
        <th scope="row"><%= user.quiz4.name %></th>
        <td><%= user.quiz4.date %></td>
        <td><%= user.quiz4.grade %></td>
        <td><%= user.quiz4.weight %></td>

      </tr>
      <tr>
        <th scope="row"><%= user.quiz5.name %></th>
        <td><%= user.quiz5.date %></td>
        <td><%= user.quiz5.grade %></td>
        <td><%= user.quiz5.weight %></td>

      </tr>
      <tr>
        <th scope="row"><%= user.midterm.name %></th>
        <td><%= user.midterm.date %></td>
        <td><%= user.midterm.grade %></td>
        <td><%= user.midterm.weight %></td>

      </tr>
      <tr>
        <th scope="row"><%= user.final.name %></th>
        <td><%= user.final.date %></td>
        <td><%= user.final.grade %></td>
        <td><%= user.final.weight %></td>

      </tr>

      <!--
      <tr>
        <th scope="row">Current Mark</th>
        <td></td>
        <td></td>
        <td></td>
        <td><%= user.currentMark %></td>
      </tr>
      -->
    </tbody>
  </table>
  <br>
  <a href="/users/logout" class="btn btn-secondary">Logout</a>
  <br>
  <br>
  <br>